/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #262626;
}

header {
	background:#ffffff;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

.hidden {
	display:none;
}

.container {
	width:100%;
	height:100%;
}

.displayedView {
	display:none;
}

.gameDiv .active {
	display:block !important;
}

.gameDiv {
	width:100%;
	height:100%;
}

.mainMenu, .optionsMenu, .inGame, .credits {
	width:100%;
	height:100%;
}

.backBTN{
	padding: 5px 30px !important;
	margin-left: 0px !important;
}

/* Main Menu - Start */

.mainMenu {
	background-color:#86d6d8;
}

.mainMenuTitle {
	color:#FFF;
	padding-top:30px;
	padding-bottom:10px;
}

.menuButtons .button-2 {
	background: rgba(63,208,212,1) !important;
	color: #fff;
	box-shadow: 0 6px rgba(63,208,212,0.7);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	height: 42px;
	padding: 8px 40px;
	margin: 5px 5px;
}

.menuButtons .button-2:hover {
	box-shadow: 0 4px rgba(63,208,212,0.7) !important;
}

/* Main Menu - End */

/* Options Menu - Start */

.optionsMenu {
	background-color:grey;
}

/* Options Menu - End */

/* in Game - Start */

.inGame {
	background-color:red;
}

#GameContainer{
	width:100%;
	height:60%;
	min-height:210px;
	background-color:blue;
	border: 5px solid #FFF;
	border-radius: 5px;
}

#CurrentShapeContainer{
	margin-top:10%;
}

#CurrentShape{
	width:150px;
	height:150px;
}

/* Shapes - Start */

.triangle{
	width: 100%;
    height: 100%;
    background-color:red;

    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

/* Shapes - End */

/* Shape Colors - Start */

/* Shape Colors - End */

/* in Game - End */

/* Credits - Start */

.credits {
	background-color:blue;
}

/* Credits - End */